body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 2s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.container_discord {
  background-color: #404fec;
  width: calc(100% - 40px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  height: 43rem;
}
.container_discord nav ul {
  text-align: center;
}

.text-discord {
  font-size: 56px;
  font-weight: 700;
  color: white;
  font-family: "Poetsen One", sans-serif;
  margin-left: 30%;
  margin-top: 6%;
  z-index: 2;
  margin-bottom: 0;
}

.stars-discord {
  width: 70rem;
  position: absolute;
  z-index: 1;
}
.container_discord #foto1 {
  position: absolute;
  bottom: 20px;
  z-index: 1;
  display: inline-block;
  left: 0;
}

.container_discord #foto2 {
  position: absolute;
  right: 0;
  bottom: 20px;
  z-index: 1;
  display: inline-block;
}

.p-text-discord {
  max-width: 780px;
  line-height: 1.625;
  color: white;
  font-family: "Poetsen One", sans-serif;
  margin-left: 25%;
  z-index: 2;
  position: relative;
}

.container_lol {
  width: calc(100% - 40px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  height: 40rem;
}

.container_lol video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container_lol nav {
  text-align: center;
}

.container_slevel {
  width: calc(100% - 40px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  background-image: url("svg-fotos/hero_slevel.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 40rem;
}

.container_slevel img {
  width: 30%;
  position: absolute;
  top: 20%;
}

.container_slevel nav {
  text-align: center;
}

.navbar-container {
  height: 50px;
  align-items: center;

  word-spacing: 2 rem;
}

.navbar-container ul {
  list-style-type: none;
  padding: 0;
}

.navbar-container ul li {
  display: inline;
  margin-right: 15px;
}

.navbar-container ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "Poetsen One", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.navbar-logo img {
  max-width: 10%;
  margin-right: 15%;
  margin-left: 12%;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin-left: 3%;
}

/* Discord Login */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
  border-radius: 40px;
  padding: 7px 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  transition: all 0.2s;
}

.button-17:hover {
  background: #f6f9fe;
  color: #5865f2;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-download {
  border-radius: 28px;
  font-size: 20px;
  padding: 16px 32px;
  align-items: center;
  appearance: none;
  background-color: #fff;

  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: absolute;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 2;
  border-radius: 40px;
  padding: 7px 16px;
  font-weight: 500;
  line-height: 24px;
  transition: all 0.2s;
  margin-left: 30%;
}

.button-download:hover {
  background: #f6f9fe;
  color: #5865f2;
}

.arrow {
  width: 2rem;
  padding: 0 0 0 0;
  margin: 0 0 0 0;

}

.button-download2 {
  border-radius: 28px;
  font-size: 20px;
  padding: 16px 32px;
  align-items: center;
  appearance: none;
  background-color: #000000;
  color: white;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: absolute;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 2;
  border-radius: 40px;
  padding: 7px 16px;
  font-weight: 500;
  line-height: 24px;
  transition: all 0.2s;
  margin-left: 50%;
}

.button-download2:hover {
  background: #121111bc;
  color: #ffffff;
}