body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.container_discord {
  background-color: #404fec;
  width: calc(100% - 40px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  height: 40rem;
}

.container_discord img {
  position: absolute;
  bottom: 20px;
}

.container_discord #foto1 {
  right: 20px;
}

.container_discord #foto2 {
  left: 20px;
}
.discord_banner {
  width: 20%;
  top: 2rem;
  left: 3rem;
}

.container_discord #prueba {
  position: absolute;
}

.container_lol {
  width: calc(100% - 40px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  height: 40rem;
}

.container_lol video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.container_slevel {
  width: calc(100% - 40px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  background-image: url("svg-fotos/hero_slevel.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 40rem;
}
